
:root {
  --main-background-color: #F0F2F5;
  --font-abel: "Abel", sans-serif;
  --font-roboto: 'Roboto', sans-serif;
  --font-ibm-plex: "IBM Plex Sans", sans-serif;
  --card-background-color:  #e0e0e0;
  --main-text-color: #343A40;
  --card-shadow: 3px 3px 6px #bebebe,
  -3px -3px 6px white;
  --card-text-color:#191919;
  --glow-color: rgb(176, 214, 255);
  --glow-spread-color: rgba(123, 193, 255, 0.781);
  --enhanced-glow-color: rgb(206, 229, 255);
}

body {
  font-family: var(--font-abel);
  background: url('/src/view/assets/background1.svg');
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--main-text-color);
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding: 10px 20px;
  margin-bottom: 20px;
  color: #ffffff;
  background-color: #c31eff;
  box-shadow: 0 0.625em 1em 0 rgba(210, 30, 255, 0.35);
}

.icon-blue {
  color: #1A73E8;
}

.icon-red {
  color: #D81B60;
}

.icon-black {
  color: #42424a; 
}

.form-control:focus {
  border-color: #2885a7;
  box-shadow: 8 8 10px rgba(40, 148, 167, 0.5);
  background: transparent !important;
  color: white !important;
}

.form-control {
  background: rgba(93, 111, 230, 0.05);
  backdrop-filter: blur(7.8px);
  -webkit-backdrop-filter: blur(7.8px);
  border: 1px solid rgba(149, 204, 245, 0.46);
  color: white !important;
}

.btn {
  --glow-color: rgb(176, 214, 255);
  --glow-spread-color: rgba(123, 193, 255, 0.781);
  --enhanced-glow-color: rgb(206, 229, 255);
  --btn-color: rgb(61, 100, 136);
  background: transparent !important;
  color: white !important;
  padding: 0.4rem;
  border: 1px solid rgba(163, 215, 255, 0.5);
  transition: 0.5s ease-in-out !important;
  transform: scale(1) !important;
}
 
 .btn:hover {
  color: var(--btn-color) !important;
  background-color: var(--glow-color) !important;
  transform: scale(1.2) !important;
  box-shadow: 0 0 1em .25em var(--glow-color),
         0 0 4em 2em var(--glow-spread-color),
         inset 0 0 .75em .25em var(--glow-color) !important;
 }
 
 .btn:active {
  box-shadow: 0 0 0.6em .25em var(--glow-color),
         0 0 2.5em 2em var(--glow-spread-color),
         inset 0 0 .5em .25em var(--glow-color) !important;
 }

 hr { border-top: 1px solid #c0fdff59 !important; }

.login {
  min-height: 100vh;
  margin-left: 37%;
  margin-top: 8%;
  width: 30%;
}

.login-form {
  padding: 3rem;
}

.login-form h4 {
  text-align: center;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: bold;
}

.login-form-spacer {
  margin-top: 15px;
}

.login-form-label {
  padding-top: 1rem;
  font-weight: bold;
}

.login-form-input {
  width: 100%;
}

.error-message {
  margin-top: 10px;
  color: red;
  text-align: center;
}

.text-center {
  text-align: center;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .sidebar {
      width: 100%;
      height: auto;
      position: relative;
  }

  .sidebar a {
      float: left;
  }

  .sidebar a {
      display: block;
      text-align: left;
  }

  .main-content {
      margin-left: 0;
      padding: 20px;
  }

  .header {
      flex-direction: column;
      align-items: flex-start;
  }

  .header .user-info {
      margin-top: 10px;
  }
}
