.sidebar {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 15.625rem;
    margin-top: 2rem;
    margin-left: 0.5rem;
    height: 90%;
    background-image: linear-gradient(195deg, #42424a 0%, #191919 100%);
    color: white;
    padding: 1rem 1rem 1rem;
    box-shadow: none;
    border-radius: 15px;
  }
  
  .sidebar h4 {
    text-align: center;
    padding-bottom: 0.2rem;
  }
  
  .sidebar hr {
    border-top: 1px solid white;
  }
  
  .sidebar a {
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
    margin: 5px 0;
  }
  
  .sidebar a:hover {
    background-color: blueviolet;
  }
  
  .sidebar .material-icons {
    margin-right: 10px;
  }

  @media (max-width: 768px) {
    .sidebar{ display: none; }
  }