.sidebar {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 6rem;
    margin-top: 2rem;
    margin-left: 0.5rem;
    height: 90%;
    background: #2d2d2d;
    color: white;
    text-align: center;
    align-items: center;
    box-shadow: none;
    border-radius: 10px;
    padding-top: 2rem;
  }

  .material-icons{
    margin-left: 0.5rem;
  }
  
  .sidebar a {
    display: block;
    color: white;
    padding: 10px;
    text-decoration: none;
    margin: 5px 0;
  }

  .fisrt-icon {
    margin-top: 2rem;
  }
  
  .sidebar a:hover {
    background-color: blueviolet;
  }
  
  .sidebar .material-icons {
    margin-right: 10px;
  }

  @media (max-width: 768px) {
    .sidebar{ display: none; }
  }